<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>timer-button 的测试页面</title>
    <link rel="stylesheet" href="timerButton.css">
</head>
<body>
    <!-- 设计时可以在HTML页面  运行时不可以 -->
    <input id="add" type="button" value="添加定时器按钮"> 
    <!-- <input id="popup" type='button' value="弹出对话框"> -->
    <hr>
    <div id="main">
        <!-- <input type="button" value="同意(6s)" disabled id="button"> -->
    </div>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="timerButton.js"></script> -->
    <script src="https://cdn.bootcss.com/require.js/2.3.6/require.js" data-main="main.js"></script>
    <script>
        // $(function(){
        //     var $btnAdd=$('#add');
        //     $btnAdd.click(function(){
        //         // $timerButton.show('#main')
        //         $timerButton.show({
        //             i:60,
        //             title:'发送验证码',
        //             onClick:function(){
        //                 console.log('点击了定时器按钮')
        //             }
        //         })
        //     })
        // })
    </script>
</body>
</html>